body{
    margin :0;
    background-color:red;
    
   }p{
      font-size: medium;
      font-color: White;
      font-family:Times New Roman ,Times San Serif;
    }h1{
    text-align:center;
    }h2{
    text-align:center;
    }.bio{
    text-align:center;
    font-size:20px;
    background-color:green;
    }.container {
    background-color:yellow;
    }img{
    margin-right:80%;
    width:120px;
    height:150px;
    border-radius:100px;
    }video{
    width :300px;
    height:300px;
    }audio{
    width :300px;
    height :300px;
    
   }